body {
  color: $navy;
  font: 16px/1.6 helvetica;
}

.nation-toggle {
  color: $lightBlue;
  font: 16px/1.6 helvetica;
}

caption {
  color: $beige;
  font: 800 2rem helvetica;
}

table {
  th {
    color: $lightBlue;
  }
}
